## Data Collection

In [1]:
import requests
import pandas as pd
import json

In [2]:
test_api_call = "http://comtrade.un.org/api/get?max=50000&type=C&freq=A&px=HS&ps=2013&r=826&p=0&rg=all&cc=AG2&fmt=json"

In [3]:
r = requests.get(test_api_call)

In [5]:
r_txt = r.text

In [6]:
un_data = json.loads(r_txt)

In [10]:
un_df = pd.DataFrame.from_dict(un_data['dataset'])

## Examine Initial Data

In [11]:
un_df.head(5)

,AltQuantity,CIFValue,FOBValue,GrossWeight,IsLeaf,NetWeight,TradeQuantity,TradeValue,aggrLevel,cmdCode,...,qtAltCode,qtAltDesc,qtCode,qtDesc,rgCode,rgDesc,rt3ISO,rtCode,rtTitle,yr
0,None,None,None,None,0,None,None,638496202,2,01,...,None,,1,No Quantity,1,Import,GBR,826,United Kingdom,2013
1,None,None,None,None,0,None,None,618257677,2,01,...,None,,1,No Quantity,2,Export,GBR,826,United Kingdom,2013
2,None,None,None,None,0,None,None,1415,2,01,...,None,,1,No Quantity,3,Re-Export,GBR,826,United Kingdom,2013
3,None,None,None,None,0,None,None,1814512,2,01,...,None,,1,No Quantity,4,Re-Import,GBR,826,United Kingdom,2013
4,None,None,None,None,0,None,None,6095731992,2,02,...,None,,1,No Quantity,1,Import,GBR,826,United Kingdom,2013

In [12]:
un_df.dtypes

AltQuantity      object
CIFValue         object
FOBValue         object
GrossWeight      object
IsLeaf            int64
NetWeight        object
TradeQuantity    object
TradeValue        int64
aggrLevel         int64
cmdCode          object
cmdDescE         object
cstCode          object
cstDesc          object
estCode           int64
motCode          object
motDesc          object
period            int64
periodDesc       object
pfCode           object
pt3ISO           object
pt3ISO2          object
ptCode            int64
ptCode2          object
ptTitle          object
ptTitle2         object
qtAltCode        object
qtAltDesc        object
qtCode            int64
qtDesc           object
rgCode            int64
rgDesc           object
rt3ISO           object
rtCode            int64
rtTitle          object
yr                int64
dtype: object

In [14]:
un_df.describe()

,IsLeaf,TradeValue,aggrLevel,estCode,period,ptCode,qtCode,rgCode,rtCode,yr
count,371,3.710000e+02,371,371,371,371,371,371.000000,371,371
mean,0,3.281124e+09,2,0,2013,0,1,2.458221,826,2013
std,0,1.132880e+10,0,0,0,0,0,1.122380,0,0
min,0,1.000000e+00,2,0,2013,0,1,1.000000,826,2013
25%,0,1.193061e+06,2,0,2013,0,1,1.000000,826,2013
50%,0,1.524267e+08,2,0,2013,0,1,2.000000,826,2013
75%,0,1.604306e+09,2,0,2013,0,1,3.000000,826,2013
max,0,9.988928e+10,2,0,2013,0,1,4.000000,826,2013

## Data Processing

Reference Tables for Database @
http://unstats.un.org/unsd/tradekb/Knowledgebase/UN-Comtrade-Reference-Tables